<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./index.css">
    <title>NASA</title>
</head>

<body>
    <h1>People Currently in Space:</h1>

        <p><%=numberOfPeople%></p>

        <h2>Send someone to Space!</h2>
        
        <form action="/new" method="POST">
            <input placeholder="Craft" type="text" name="craft">
            <input placeholder="Name" type="text" name="name">
            <button type="submit">Add</button>
        </form>

    <h2>Names</h2>


    <% for (var key in people) {%>

        <p><%= people[key].name %> - <%= people[key].craft%></p>
        <form action="/<%=people[key]._id%>/delete" method="POST">
            <button type="submit">Delete</button>
        </form>


    <%}%>
</body>

</html>