<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Counting Cows</title>
</head>

<body>
    <h1>Just one cow please</h1>

    <ul>
        <li>
            <h3>
                <%= id %>
                    -
                <%= name %>
            </h3>
        </li>
    </ul>

    <form action="/cows/<%= id %>" method="POST">
        <input type="text" placeholder="name" name="name">
        <button type="submit">Update</button>
    </form>

    <form action="/cows/<%= id %>/delete" method="POST">
        <button type="submit">Delete</button>
    </form>

</body>

</html>